@font-face {
  font-family: Roboto Condensed;
  src: url(assets/RobotoCondensed-Light.ttf);
  font-weight: 800;
}

body {
  background: url("assets/background.jpg") no-repeat;

  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: Roboto Condensed;
}

.app {
  text-align: center;
  padding: 5%;
}

.app-title {
  font-size: 26px;
}

/*Profile*/

.profile {
  display: flex;
  justify-content: center;
}

.profile-info {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  color: #555;
  padding: 1em;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 10px solid #fff;
  border-radius: 10px;
}

.profile-name {
  font-size: 26px;
}

.profile-followers,
.profile-genres {
  font-size: 18px;
}

/*Gallery*/
.track {
  display: inline-block;
  width: 220px;
  height: 220px;
  border-radius: 3px;
  text-align: left;
  cursor: pointer;
  margin: 10px;
  position: relative;
}

.track-img {
  width: 220px;
  height: 220px;
  border: 3px solid #fff;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
}

.track-text,
.artist-name {
  background: #000;
  color: #fff;
  opacity: 0.75;
  width: 214px;
  text-align: center;
  position: absolute;
  margin-left: 3px;
  bottom: 0;
  padding: 10px;
}

.track-play {
  position: absolute;
  width: 220px;
  height: 220px;
}

.track-play-inner {
  position: absolute;
  text-align: center;
  border-radius: 30px;
  font-size: 25px;
  height: 60px;
  width: 60px;
  background: #000;
  color: #fff;
  padding-top: 13px;
  margin-left: 80px;
  margin-top: 80px;
  opacity: 0;
  transition: opacity 0.1s;
}

.track-play-inner:hover {
  opacity: 0.8;
}

.featured {
  background: rgba(0, 0, 0, 0.5);
  min-height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.artist {
  min-width: 214px;
  min-height: 220px;
  border: 3px solid #fff;
  display: inline;
  margin: 20px;
  position: relative;
}

.artist-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 3px;
}

.btn {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
}
.btn:hover {
  background-color: rgb(56, 109, 3);
  color: white;
}
